process {
  executor = 'awsbatch'

  withName: GATK4_BASERECALIBRATOR {
    errorStrategy = 'terminate'
    maxRetries = 3
    cpus = 2
    memory = { 16.GB * task.attempt }
  }
  withName: GATK4_APPLYBQSR {
    errorStrategy = 'terminate'
    maxRetries = 3
    cpus = 2
    memory = { 16.GB * task.attempt }
  }
}

aws {
  region = 'us-east-1'
}