process {
  executor = 'awsbatch'

  withName: CREATE_SEQUENCE_GROUPING {
    errorStrategy = 'retry'
    maxRetries = 3
    cpus = 1
    memory = { 2.GB * task.attempt }
  }
  withName: GATK4_BASERECALIBRATOR {
    errorStrategy = 'retry'
    maxRetries = 3
    cpus = 2
    memory = { 8.GB * task.attempt }
  }
  withName: GATHER_BQSR_REPORTS {
    errorStrategy = 'retry'
    maxRetries = 3
    cpus = 1
    memory = { 4.GB * task.attempt }
  }
  withName: GATK4_APPLYBQSR {
    errorStrategy = 'retry'
    maxRetries = 3
    cpus = 2
    memory = { 8.GB * task.attempt }
  }
  withName: GATHER_CRAM_FILES {
    errorStrategy = 'retry'
    maxRetries = 3
    cpus = 2
    memory = { 8.GB * task.attempt }
  }
}

aws {
  region = 'us-east-1'
}